<% content_for :theme_year, @year.to_s %>

<%= link_to "←", year_path(year: @year), class: "back-link" %>

<h1><%= @title %></h1>

<%= render 'shared/banner_ad', year: @year %>
<%= render 'shared/music_player', year: @year %>

<div class="doc-content">
  <%= raw @content %>
</div>

<% if @comments.any? %>
  <div class="comments-section">
    <h3 class="comments-heading">Comments (<%= @comments.size %>)</h3>
    <% @comments.each do |comment| %>
      <div class="comment">
        <span class="comment__username"><%= comment['username'] %></span>
        <p class="comment__body"><%= comment['body'] %></p>
      </div>
    <% end %>
  </div>
<% end %>
