<% content_for :theme_year, @year.to_s %>

<%= link_to root_path, class: "back-link" do %>← Back<% end %>

<h1><%= @year %></h1>
<% if (name = theme_name(@year)) %>
  <div class="year-badge"><%= name %></div>
<% end %>

<%= render 'shared/banner_ad', year: @year %>
<%= render 'shared/music_player', year: @year %>

<ul class="entry-list">
  <% @entries.each do |entry| %>
    <li><%= link_to entry.name, entry_path(year: @year, slug: entry.slug) %></li>
  <% end %>
</ul>
